<div>
  <input type="number" name="num1" placeholder="Numero 1" [(ngModel)]="num1"/>
  <input type="number" name="num2" placeholder="Numero 2" [(ngModel)]="num2"/>
  <br><br>
  <button class="btn btn-primary" (click)="sumar()">Sumar</button>
  <button class="btn btn-primary" (click)="restar()">Restar</button>
  <button class="btn btn-primary" (click)="multiplicar()">Multiplicar</button>
  <button class="btn btn-primary" (click)="dividir()">Dividir</button>
  <button class="btn btn-danger" (click)="limpiar()">Limpiar</button>
</div>
